force-app/main/default/flows/AccountPlanRecordClone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assign_date_to_name</name>
        <label>assign date to name</label>
        <locationX>546</locationX>
        <locationY>342</locationY>
        <assignmentItems>
            <assignToReference>AccountPlanObj.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>space</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountPlanObj.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>test</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountPlanObj.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>enddateplusoneyear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountPlanObj.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountPlanObj.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StatusNew</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateAccountPlanRecord</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AccountPlanDetailCheck</name>
        <label>AccountPlanDetailCheck</label>
        <locationX>613</locationX>
        <locationY>484</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>AccountDetailPlanFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountPlanDetail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopInAccountPlanDetail</targetReference>
            </connector>
            <label>AccountDetailPlanFound</label>
        </rules>
        <rules>
            <name>AccountDetailNotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountPlanDetail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FinalScreen</targetReference>
            </connector>
            <label>AccountDetailNotFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>AccountPlanObjListCheck</name>
        <label>AccountPlanObjListCheck</label>
        <locationX>307</locationX>
        <locationY>230</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountPlanObj</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_date_to_name</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <formulas>
        <name>enddateplusoneyear</name>
        <dataType>Date</dataType>
        <expression>{!AccountPlanObj.End_Date__c}+365</expression>
    </formulas>
    <formulas>
        <name>spacetoday</name>
        <dataType>Date</dataType>
        <expression>{!space}{!today}</expression>
    </formulas>
    <formulas>
        <name>test</name>
        <dataType>Date</dataType>
        <expression>{!AccountPlanObj.End_Date__c}+1</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>AccountPlanRecordClone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AccountPlanRecordClone v2</label>
    <loops>
        <name>LoopInAccountPlanDetail</name>
        <label>LoopInAccountPlanDetail</label>
        <locationX>821</locationX>
        <locationY>449</locationY>
        <assignNextValueToReference>varLoop</assignNextValueToReference>
        <collectionReference>AccountPlanDetail</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AccountPlanDetailCreate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Final</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>AccountPlanDetailCreate</name>
        <label>AccountPlanDetailCreate</label>
        <locationX>822</locationX>
        <locationY>594</locationY>
        <assignRecordIdToReference>AccountPlanDetailId</assignRecordIdToReference>
        <connector>
            <targetReference>LoopInAccountPlanDetail</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Plan__c</field>
            <value>
                <elementReference>AccountPlanObj.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>varLoop.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Profile__c</field>
            <value>
                <elementReference>varLoop.Customer_Profile__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varLoop.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>varLoop.Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Strategic_Objective__c</field>
            <value>
                <elementReference>varLoop.Strategic_Objective__c</elementReference>
            </value>
        </inputAssignments>
        <object>AccountPlanDetail__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateAccountPlanRecord</name>
        <label>CreateAccountPlanRecord</label>
        <locationX>313</locationX>
        <locationY>359</locationY>
        <connector>
            <targetReference>AccountPlanDetailExtract</targetReference>
        </connector>
        <inputReference>AccountPlanObj</inputReference>
    </recordCreates>
    <recordLookups>
        <name>AccountPlanDetailExtract</name>
        <label>AccountPlanDetailExtract</label>
        <locationX>312</locationX>
        <locationY>480</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountPlanDetailCheck</targetReference>
        </connector>
        <filters>
            <field>Account_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountPlanId</elementReference>
            </value>
        </filters>
        <object>AccountPlanDetail__c</object>
        <outputReference>AccountPlanDetail</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account_Plan__c</queriedFields>
        <queriedFields>Customer_Profile__c</queriedFields>
        <queriedFields>Strategic_Objective__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Project__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>AccountPlanExtract</name>
        <label>AccountPlanExtract</label>
        <locationX>312</locationX>
        <locationY>113</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountPlanObjListCheck</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountPlanId</elementReference>
            </value>
        </filters>
        <object>AccountPlan__c</object>
        <outputReference>AccountPlanObj</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Revenue__c</queriedFields>
        <queriedFields>ContributionMargin__c</queriedFields>
        <queriedFields>VolumeActuals__c</queriedFields>
        <queriedFields>ProductFamily__c</queriedFields>
        <queriedFields>Business2__c</queriedFields>
        <queriedFields>StrategicPriorities__c</queriedFields>
        <queriedFields>UnitofMeasure2__c</queriedFields>
        <queriedFields>MarketShare__c</queriedFields>
        <queriedFields>Start_Date__c</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Final</name>
        <label>Final</label>
        <locationX>1314</locationX>
        <locationY>456</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Click</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#0000CC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Click on Confirm button to start the Clone process.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FinalScreen</name>
        <label>FinalScreen</label>
        <locationX>597</locationX>
        <locationY>610</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>clickRecord</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Click on Confirm button to start the Clone process.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>AccountPlanExtract</startElementReference>
    <status>Draft</status>
    <variables>
        <name>AccountPlanDetail</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountPlanDetail__c</objectType>
    </variables>
    <variables>
        <name>AccountPlanDetailId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountPlanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountPlanObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountPlan__c</objectType>
    </variables>
    <variables>
        <name>space</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>|</stringValue>
        </value>
    </variables>
    <variables>
        <name>StatusNew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>New</stringValue>
        </value>
    </variables>
    <variables>
        <name>varLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountPlanDetail__c</objectType>
    </variables>
</Flow>
