force-app/main/default/flows/UpdateProductInQuoteLineItem.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>testingquote</name>
        <label>testingquote</label>
        <locationX>620</locationX>
        <locationY>83</locationY>
        <assignmentItems>
            <assignToReference>quotelineitemid.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_QuoteLineItemID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>testrecordupdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>testrecordupdate</name>
        <label>testrecord</label>
        <locationX>580</locationX>
        <locationY>226</locationY>
        <assignmentItems>
            <assignToReference>quotelineitemid.ProductCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>testing.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>testrecord</targetReference>
        </connector>
    </assignments>
    <interviewLabel>UpdateProductInQuoteLineItem {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateProductInQuoteLineItem</label>
    <loops>
        <name>testrecord</name>
        <label>testrecord</label>
        <locationX>360</locationX>
        <locationY>87</locationY>
        <assignNextValueToReference>testing</assignNextValueToReference>
        <collectionReference>Product2collectiovariable</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>testingquote</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updatingquotelineitem</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_for_product_objects</name>
        <label>Lookup for product  objects</label>
        <locationX>169</locationX>
        <locationY>83</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>testrecord</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_ProductName</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>Product2collectiovariable</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updatingquotelineitem</name>
        <label>updatingquotelineitem</label>
        <locationX>360</locationX>
        <locationY>208</locationY>
        <inputReference>quotelineitemid</inputReference>
    </recordUpdates>
    <startElementReference>Lookup_for_product_objects</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>Product2collectiovariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>quotelineitemid</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CPQQuoteLineItem__c</objectType>
    </variables>
    <variables>
        <name>test</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CPQQuoteLineItem__c</objectType>
    </variables>
    <variables>
        <name>testing</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>Var_ProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_ProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_QuoteLineItemID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
