force-app/main/default/flows/Update_Opportunity_Chatter_Feed_when_an_Opportunity_Product_becomes_INACTIVE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;A Product associated with this Opportunity has been updated to INACTIVE by Product Management on {![Opportunity].SystemModstamp}:\n________________________________________________________\n\nOpportunity:  {![Opportunity].Name}\nOpportunity Detail Link: {![Opportunity].Detail_Link__c}\nAccount: {![Opportunity].Account.Name}\nClose Date: {![Opportunity].CloseDate}\nAmount: {![Opportunity].Amount}\n\n@[{![Opportunity].Owner.Id}]&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Post Inactive Products Warning</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>A Product associated with this Opportunity has been updated to INACTIVE by Product Management on {!myVariable_current.SystemModstamp}:
________________________________________________________

Opportunity:  {!myVariable_current.Name}
Opportunity Detail Link: {!myVariable_current.DetailLink__c}
Account: {!myVariable_current.Account.Name}
Close Date: {!myVariable_current.CloseDate}
Amount: {!myVariable_current.Amount}

@[{!myVariable_current.Owner.Id}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Product Inactive on Open Opp?</label>
        </rules>
    </decisions>
    <description>INACTIVE Product Chatter Post Notification on OPEN Opps w/ matching Opportunity Product</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Opportunity].InactiveProducts2__c&gt; 0 &amp;&amp; [Opportunity].IsClosed = FALSE &amp;&amp; ISCHANGED([Opportunity].InactiveProducts2__c ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.InactiveProducts2__c}&gt; 0 &amp;&amp; {!myVariable_current.IsClosed} = FALSE &amp;&amp; ISCHANGED({!myVariable_current.InactiveProducts2__c} )</expression>
    </formulas>
    <interviewLabel>Update_Opportunity_Chatter_Feed_when_an_Opportunity_Product_becomes_INACTIVE-5_InterviewLabel</interviewLabel>
    <label>Update Opportunity Chatter Feed when an Opportunity Product becomes INACTIVE</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Draft</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
